<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>Date</td>
      <td>User ID</td>
      <td>Subject</td>
      <td>Body</td>
      <td>Action</td>
    </tr>
  </thead>

  <tbody>
    <%= render @feedbacks %>
  </tbody>
</table>
