/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import url("//fonts.googleapis.com/css?family=Roboto:400,500");

.feedy {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #3e3f3a;
  background-color: #ffffff;
}

.feedy textarea {
  resize: none;
}

.feedy .feedback {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 260px;
}

.feedy .feedback-input {
  display: block;
  width: 100%;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #3e3f3a;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dfd7ca;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.feedy input[type=text],
.feedy textarea {
  -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box;
  box-sizing : border-box;
}

.feedy label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.feedy .submit-button {
  border: none;
  font-size: 11px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #325d88;
  border-color: transparent;
  margin-top: 10px;
  cursor: pointer;
}

.feedy .feedback-toggle {
  color: #FFF;
  background-color: #567390;
  cursor: pointer;
  padding: 15px 35px;
  text-align: center;
}

.feedy .feedback-main {
  border: 1px solid #C5C5C5;
  padding: 10px 18px 20px;
}
