/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import url('bootstrap.min.css');

textarea {
  resize: none;
}

.feedback {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 260px;
}

.feedback-toggle {
  color: #FFF;
  background-color: #567390;
  cursor: pointer;
  padding: 15px 35px;
  text-align: center;
}

.feedback-input {
  border: 1px solid #C5C5C5;
  padding: 10px 18px 20px;
}

.submit-button {
  margin-top: 10px;
}
